<div class="left side-menu">
	<div class="sidebar-inner slimscrollleft">
		<!--- Divider -->
		<div id="sidebar-menu">
			<ul>
				<li class="menu-title"></li>

				<li>
					<a href="index.html" class="waves-effect waves-primary">
						<i class="ti-home"></i><span> Dashboard </span>
					</a>
				</li>

				<li class="has_sub">
					<a href="javascript:void(0);" class="waves-effect waves-primary _subdrop"><i class="mdi mdi-backup-restore"></i> <span> Administracion </span>
						<span class="menu-arrow"></span>
					</a>
					
					<ul class="list-unstyled" style="display: block;">
						<li><a href="index.html#/category">Categorias</a></li>
						<li><a href="index.html#/client">Clientes</a></li>
						<li><a href="index.html#/product">Productos</a></li>
					</ul>
					
				</li>

			</ul>

			<div class="clearfix"></div>
		</div>
		<div class="clearfix"></div>
	</div>
</div>

