<!--
<div class="row" style="margin-bottom: 5px !important;">
	<input type="radio" ng-model="dashboard.dashboard_service.data.filters.date" value="1" > Today
	<input type="radio" ng-model="dashboard.dashboard_service.data.filters.date" value="2" > Yesterdar
	<input type="radio" ng-model="dashboard.dashboard_service.data.filters.date" value="3" > Last 7 Days
	<input type="radio" ng-model="dashboard.dashboard_service.data.filters.date" value="4" > Last 30 Days
	<input type="radio" ng-model="dashboard.dashboard_service.data.filters.date" value="5" > This Month
	<input type="radio" ng-model="dashboard.dashboard_service.data.filters.date" value="6" > Last Month
</div>


<div class="row">
	<div class="col-sm-12">
		<div class="card-box">
			<h4 class="m-t-0 header-title"><b>Date Range Picker</b></h4>
			<div class="row">
				<div class="col-lg-9">
					<div class="p-20">
						<form class="form-horizontal">
							<div class="form-group row">
							   <label class="col-lg-4 control-label">With all options</label>
								<div class="col-lg-8">
									<div id="reportrange" class="pull-right form-control">
										<i class="glyphicon glyphicon-calendar fa fa-calendar"></i>
										<span></span>	                                        
									</div>
								</div>
							</div>                             
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

-->